.section {
  position: relative;
  padding: var(--spacing-3xl) var(--spacing-lg);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.section.alternate {
  background: var(--color-surface);
}

.section.staggered .container {
  padding-left: 10%;
}

.section.staggered:nth-of-type(even) .container {
  padding-left: 0;
  padding-right: 10%;
}

.separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  line-height: 0;
}

.separator svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

@media (max-width: 768px) {
  .section {
    padding: var(--spacing-2xl) var(--spacing-md);
  }
  
  .section.staggered .container,
  .section.staggered:nth-of-type(even) .container {
    padding-left: 0;
    padding-right: 0;
  }
}
